* {
    box-sizing: border-box;
    text-align: center;
}



.container {
    margin-top: 30px;
    height: auto;
    text-align: left;
    border-color: black;
    border-width: 3px;

}



.card-header {
    text-align: left;

}


.form-group {
    text-align: left;
}

.label {

}
